.my-animate-fade-in {
  animation: fade-inn 1s;
}

@keyframes fade-inn {
  0% {
    opacity: 0;
    transform: translateY(15%);
  }
  10% {
    opacity: 0;
    transform: translateY(15%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.animate-zoom-fade-in {
  animation: zoom-fade-in 0.5s;
}

@keyframes zoom-fade-in {
	0% {
		opacity: 0;
		scale: 1.1;
	}

	100% {
		opacity: 1;
		scale: 1;
	}
}

.markdown h1 {
	@apply text-5xl font-bold mb-4;
}

.markdown h2 {
	@apply text-2xl font-bold mb-4;
}

.markdown h3 {
	@apply text-lg font-bold mb-4;
}

.markdown p {
	@apply mb-4;
}

.markdown ul {
	list-style-type: "- ";
	@apply list-inside mb-4;
}

.markdown a {
	@apply underline text-main-400 hover:text-main-500;
}