---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<script src="./scroll-header.ts"></script>
<header
  transition:persist
  class="relative bg-main-600 text-white b-b-[0.5rem] b-main-700"
  id="wavy-animation-trigger"
>
  <div class="relative z-30 h-70 md:h-60 flexcc">
    <div>
      <h1
        class="w-full overflow-hidden
			leading-12
			px4 mb2
			text-center whitespace-nowrap font-black font-size-4xl text-main-950
			opacity
			drop-shadow-md"
        stretch-text
      >
        <a href="/">
          Ezequiel Adrián <br class="block md:hidden" />Schwartzman
        </a>
      </h1>
      <p class="text-center font-size-xl font-thin">
        Web engineer. Earth lover. Truth seeker.
      </p>
    </div>
  </div>
  <canvas id="wavy" class="absolute z-30 bg-trasparent top-0 w-full left-0 h-4"
  ></canvas>
  <div
    class="absolute inset-0 z-10 opacity-10"
    id="wavy-scroll-bg"
    style="background-image: url(/noise.png)"
  >
  </div>
  <div
    class="absolute inset-0 z-20 b-t-3 b-t-main-400 bg-gradient-to-b from-white/20 to-white/0"
  >
  </div>
</header>
